@use '../abstract' as abstract;

.landing {
    @include abstract.flex-center;
    flex-direction: column;
    gap: 85px;
    width: 100%;
    max-width: abstract.$content-max-width;
    min-height: 100dvh;
    margin: 0 auto;
    position: relative;
    background-color: abstract.$primary;

    &__title {
        @include abstract.flex-center;
        flex-direction: column;
    }

    &__eyebrow {
        align-self: flex-start;
        font-family: 'Almarai';
        font-size: abstract.fluid-size(1.5rem, 1rem, 2.3vw, 3rem);
    }

    &__heading {
        font-family: 'Red Rose';
        font-weight: bold;
        font-size: abstract.fluid-size(2.5rem, 0.3rem, 9.4vw, 8.75rem);
    }

    &__decoration {
        position: absolute;
        top: 500px;
        left: -88px;
        height: 300px;
        width: 414px;
        opacity: 0.05;
        transform: rotate(37.5deg);

        path {
            fill: abstract.$secondary;
        }
    }
}
