@use './base/reset';
@use './base/fonts';
@use './base/colors';
@use './base/mixins';
@use './layout/landing';
@use './layout/settings';
@use './layout/game';
@use './layout/gameover';
@use './layout/result';
@use './components/button';

body {
    height: 100vh; //fallback
    height: 100dvh;
    background-color: colors.$primary;
    color: #ffffff;
    position: relative;
}

svg {
    height: 2.5rem;
    width: 2.5rem;
}

main {
    @include mixins.flex-center;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100dvh;
    background-color: colors.$primary;

    &.is-light {
        background-color: colors.$white;
    }
}
