@use './abstract' as abstract;
@use './base';
@use './themes';
@use './pages';
@use './components';

body {
    height: 100vh; //fallback
    height: 100dvh;
    background-color: abstract.$primary;
    color: #ffffff;
    position: relative;
}

svg {
    height: 2.5rem;
    width: 2.5rem;
}

main {
    @include abstract.flex-center;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100dvh;
    background-color: abstract.$primary;

    &.is-light {
        background-color: abstract.$white;
    }
}
